<!-- Generated template for the AccountingComponent component -->
<div>
  {{text}}
<!-- 
  <ion-grid>
    <ion-row>
        <ion-item>
            <ion-label>PinkyPoints</ion-label>
            <ion-select [(ngModel)]="quasiFibonacci">
                <ion-option>0</ion-option>
                <ion-option>0.5</ion-option>
                <ion-option>1</ion-option>
                <ion-option>2</ion-option>
                <ion-option>3</ion-option>
                <ion-option>5</ion-option>
                <ion-option>8</ion-option>
                <ion-option>13</ion-option>
                <ion-option>20</ion-option>
                <ion-option>40</ion-option>
                <ion-option>100</ion-option>
                <ion-option>500</ion-option>              
            </ion-select>
            <ion-input type="text" [(ngModel)]="newPoints.reason"></ion-input>
        </ion-item>
    </ion-row>
    <ion-row>
        <ion-col>
            <button ion-button full ClickMe (click)='pointsCommit();'>
              <ion-icon name="git-commit"></ion-icon>
              commit PinkyPoints
            </button>
        </ion-col>
    </ion-row>
  </ion-grid> -->
</div>
