<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to PinkyPoints!</h2>
  <p>
    This app is made for my wife Johanna :-).
  </p>
  <p>
    I need to register the domain pinkypoints.com
  </p>
  <p>
    <button ion-button full ClickMe (click)='FBLogin();'>facebook Login</button>
  </p>  
  <p>
    <button ion-button full ClickMe (click)='GoogleLogin();' *ngIf="!userProfile">
      <ion-icon name="logo-googleplus"></ion-icon>
      google Login
    </button>
  </p>
  <p>
    <button ion-button full ClickMe (click)='twitterLogin();'>twitter Login</button>
  </p>    
  <p>
    <button ion-button full ClickMe (click)='Logout();'>Logout</button>
  </p>  
  <p>
    <button ion-button full ClickMe (click)='presentToast();'>presentToast</button>
  </p>
  <ion-item *ngIf="userProfile">
    <ion-avatar item-left>
      <img [src]="userProfile.photoURL">
    </ion-avatar>
    <h2>{{ userProfile.displayName }}</h2>
    <h3>{{ userProfile.email }}</h3>
  </ion-item>
  
  </ion-content>